@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 15px;
  }
  
body::-webkit-scrollbar-track {
    background: #023338;
  }

body::-webkit-scrollbar-thumb {
    background: #6099bd;
  }
.demo{
    display: flex;
    justify-content: center;
    
    padding: 10px;   
    font-weight: 300;
    font-size: larger;
    border: solid 2px;
    background: white;
    border-radius: 12px;
    color: #065885;
    padding-left: 15px;
    padding-right: 15px;
}
.demo:hover{
    background:grey;
}

#navbar-default{
    color: white;
    margin-right: -30px;    
}
#right-arrow{
    margin-right: -20px;
    margin-top: 7.5px;
}

.bottom-line{
    background: #000;
    
    height: 120px;
    color: white;
}
#blue-circle{
   color: white;
   font-size: 25px;
   text-align: center ;
}
#thirdpage-background{
    background-image: url("../src/Image/3rd-background.png");
    font-family: poppins;
    height: 96vh;
}
#testimonials{
    background-image:url("../src/Image/testi-background.svg") ;
}

#consultation-background{
    background-size:cover ;
    background-image: url("../src/Image/form-bg.webp");
}
#footer{ 
    height: 64vh;
    background-color: #F8F7FC;
    background-image: url("../src/Image/footer-bg.png");
}
#footer-box{
    margin-top: -58px;
    margin-bottom: -70px;
}
#service-page{ 
    background-size: cover;
    background-position: bottom;
    background-image: url('./Component/Services/img/service-banner.webp');
}
#banner-page{
    background-size: cover;
    background-position: bottom;
    background-image: url("https://abym.in/assets/img/bg/service-add-bg.png");
}
/* this is for portfolio */
#background-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url('https://abym.in/assets/img/bg/working-bg.png');
}
#portfolio-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url('https://abym.in/assets/img/bg/portfolio-banner-bg.png');
}